<div class="menu">
	<div class="blogLogo">
		<a href="/">stelin同學</a>
	</div>
	<div class="blogMenu">
		<ul>
			{% for m in site.menu %}
				<li><a href="{{ site.baseurl }}{{ m[1] }}">{{ m[0] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>



<div class="blogDesc" style="color: rgba(255, 255, 255, 0.8);">
<h2>开源项目</h2>
<p>
<a href="https://github.com/swoft-cloud/swoft" target="_blank">swoft</a> &nbsp;基于swoole协程的高性能PHP微服务框架，内置http服务器。框架全协程实现，性能完胜传统的php-fpm模式。
  <br>

<a href="https://github.com/stelin/aversion" target="_blank">aversion</a>&nbsp;服务端App版本迭代识别，根据客户端参数识别当前迭代分支版本</p>
<div class="tools">
<a href="https://github.com/stelin" target="_blank" class="icon-github" title="github"></a>
<a href="mailto:phpcrazy@126.com" target="_blank" class="icon-email" title="Email Me"></a>
</div>
</div>
