<div class="menu">
	<div class="blogLogo">
		<a href="/">stelin同學</a>
	</div>
	<div class="blogMenu">
		<ul>
			{% for m in site.menu %}
				<li><a href="{{ site.baseurl }}{{ m[1] }}">{{ m[0] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="blogDesc">
<h2>成功不是偶然，机会是给有准备之人。</h2>

<h3>开源项目：</h3>
<p>
<a href="https://github.com/stelin/swoft" target="_blank" style="color:white;">swoft</a> 基于swoole协程的高性能PHP微服务框架 
<br>
<a href="https://github.com/stelin/aversion" target="_blank" style="color:white;">aversion</a> 服务端App版本识别库
</p>
<p>
<a href="https://github.com/stelin" target="_blank" class="icon-github" title="github" style="color:white;"></a>
<a href="mailto:phpcrazy@126.com" target="_blank" class="icon-email" title="Email Me" style="color:white;"></a>
</p>
</div>